.vs/
.consulo/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.cache

*/**/bin/Debug
*/**/bin/Release
*/**/obj/Debug
*/**/obj/Release
Source/RPEF/obj/
Source/RPEF/obj/Release/
Source/RPEF/.vs
Source/RPEF/.idea

Mod/rwconfigrc.json

Works