.vs/
.consulo/
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.cache

Source/RPEF/obj/
Source/RPEF/obj/Release/
Source/RPEF/.vs
Source/RPEF/.idea

Mod/rwconfigrc.json

Works